.page {
  @include gradient-bg;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page__button {
  font-weight: 500;
  border: 1px solid $white;
  transition: all $transition-props;

  @media (hover: hover) {
    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  &:focus {
    opacity: 0.8;
  }

  &:focus:not(:focus-visible) {
    opacity: 1;
  }

  &:focus-visible {
    outline: 2px solid $black;
  }


  @include desktop {
    font-size: 16px;
    line-height: 24px;
  }
}
